.ReadPosts {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

#default-text {
    color: rgb(240, 182, 255);
    font-size: 36px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 100%;
}